body {
  position: relative;
}

a {
  text-decoration: none;
  position: absolute;
  font-size: 10px;
  top:99vh;
  right:0;
  color:black;
}

p,h1, h2, h3 {
  font-family: 'Russo One', sans-serif;
}

#wordContainer {
  position: absolute;
  height: 20vh;
  width: 100vw;
  top: 40vh;

}

#word{
  font-size: 15vh;
  text-align: center;
}


h2 {
  position:relative;
  display: inline-block;
  font-size: 7vh;
  opacity: 0;
}

.displayScore{
  position: absolute;
  font-size: 7vh;
  right: 5vw;
}

#high-scorecard{
  top: 15vh;
  color: grey;
}

#scorecard {
  top: 5vh;
}

#timer {
  right: 50vw;
  top: 80vh;
}

#frequency {
  right: 5vw;
  top: 80vh;
}

.splashPage {
  z-index: 9999;
  overflow: hidden;
  position: absolute;
  background-color: white;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

#titlePage{
  animation: blinkInOut 10s infinite;
}

.splashPage h1 {
  letter-spacing: 0;
  font-size: 10vw;
  position: relative;
  text-align: center;
  top: 40vh;
}

.splashPage h2 {
  opacity: 0.8;
}

h1 div {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#arrows{
  margin-top: 1vh;
  text-align: center;
  opacity: 0.8;
  display: none;
}

#darkness{
 background-color: black;
 opacity: 0;
 z-index: -1;
}

#clickhere {
  left: 40vw;
  cursor: pointer;
  top: 60vh;
}
.up{
  animation: upAndTurn 10s infinite;
}

.down{
  animation: downAndTurn 10s infinite;
}

@keyframes blinkInOut{
  0%{background-image: initial;}
  50%{background-image: url(../images/tv-gif.gif);}
  51%{background-image: initial;}
  55%{background-image: url(../images/static.gif);}
  60%{background-image: initial;}
  70%{background-image: url(../images/static.gif);}
  73%{background-image: initial;}
  99%{background-image: url(../images/tv-gif.gif);}
  100%{background-image: initial;}
}

@keyframes dark {
  0%, 50% {z-index:9999; opacity:1;}
  99%{z-index:9999; opacity:0;}
  100%{z-index:-1; opacity:0;}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.flippedX{
  transform: scaleX(-1);
}

.flippedY{
  transform: scaleY(-1);
}
.flipped{
  transform: scale(-1);
}

#clickme{
  /*background-color: red;*/
  height: 5vh;
  width: 5vh;
  position: absolute;
  top: 93vh;
  right:0;
  background-image: url(../images/yes_music.png);
  background-size: cover;
}

/*.off {
  background-image: url(../images/no_music.png);
}*/



