body {
  position: relative;
}

h1, h2, h3 {
  font-family: 'Russo One', sans-serif;
}

#wordContainer {
  position: absolute;
  height: 20vh;
  width: 100vw;
  top: 40vh;

}

#word{
  font-size: 15vh;
  text-align: center;
}


h2 {
  position:relative;
  display: inline-block;
  font-size: 7vh;
  opacity: 0;
}

.displayScore{
  position: absolute;
  font-size: 7vh;
  right: 5vw;
}

#high-scorecard{
  top: 15vh;
  color: grey;
}

#scorecard {
  top: 5vh;
}

#timer {
  right: 50vw;
  top: 80vh;
}

#frequency {
  right: 5vw;
  top: 80vh;
}

.splashPage {
  z-index: 9999;
  overflow: hidden;
  position: absolute;
  background-color: white;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  animation: blinkInOut 10s infinite;
}

.splashPage h1 {
  letter-spacing: 0;
  font-size: 15vh;
  position: relative;
  text-align: center;
  top: 40vh;
  /*left: 10vw;*/
}

.splashPage h2 {
  opacity: 0.8;
}

h1 div {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#inactivity{
  display: none;
  animation: initial;
  background-image: url(../images/tv-gif.gif);
  opacity: 0.5;
}


#inactivity h2 {
  top: 45vh;
  left: 45vw;
  font-size: 13vh;

}

#clickhere {
  left: 40vw;
  /*text-align: center;*/
  cursor: pointer;
  top: 60vh;
}

.up{
  animation: upAndTurn 10s infinite;
}

.down{
  animation: downAndTurn 10s infinite;
}

@keyframes blinkInOut{
  0%{background-image: initial;}
  50%{background-image: url(../images/tv-gif.gif);}
  51%{background-image: initial;}
  55%{background-image: url(../images/static.gif);}
  60%{background-image: initial;}
  70%{background-image: url(../images/static.gif);}
  73%{background-image: initial;}
  99%{background-image: url(../images/tv-gif.gif);}
  100%{background-image: initial;}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.flippedX{
  transform: scaleX(-1);
}

.flippedY{
  transform: scaleY(-1);
}
.flipped{
  transform: scale(-1);
}




